.hero_section .hero_content img {
  height: 420px;
  object-fit: cover;
  margin: auto;
  color: #fff;
  background: #364d79;
}

.explore_section {
  max-width: 800px;
  margin: auto;
}

.explore_section .explore_item {
  display: inline-block;
}

.explore_section .explore_item__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  opacity: 0;
}

.explore_section .explore_item__mask * {
  color: white;
}

.explore_section .explore_item img {
  transition: all 0.4s;
}

.explore_section .explore_item:hover .explore_item__mask {
  opacity: 1;
}

.explore_section .explore_item:hover img {
  transform: scale(1.05);
}

.about_section .about_header {
  max-width: 800px;
  margin: 32px auto;
  text-align: center;
}
